
/* mui docs https://mui.com/components/autocomplete/ */
/* mui docs https://mui.com/api/autocomplete/ */
/* mui docs https://mui.com/api/text-field/ */

.MuiTextField-root, .MuiTextField-inputFocused {
    color: whitesmoke !important;
    background-color:  rgb(82, 82, 82);
}

.MuiAutocomplete-listbox {
    color: whitesmoke !important;
    background-color:  rgb(82, 82, 82);
}
.MuiAutocomplete-focused {
    color: whitesmoke !important;
    background-color: goldenrod;
}

#friend-request-btn {
    background-color: goldenrod;
    color: white;
    font-size: 16px;
    padding: 8px 50px;
    border-radius: 20px;
    margin: 10px 0px;
    cursor: pointer;
}

.addFriendContainer {
    padding-bottom: 60px;
}


