/* mui docs https://mui.com/components/autocomplete/ */
/* mui docs https://mui.com/api/autocomplete/ */
/* mui docs https://mui.com/api/text-field/ */
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    color: whitesmoke;
    background-color: #202020;
}
.MuiTextField-inputFocused {
    color: whitesmoke !important;
    background-color: #202020;
}

.MuiAutocomplete-listbox {
    color: whitesmoke !important;
    background-color: #202020;
}
.MuiAutocomplete-focused {
    color: whitesmoke !important;
    background-color: goldenrod;
}

#friend-request-btn {
    background-color: goldenrod;
    color: white;
    cursor: pointer;
}

.addFriendContainer {
    padding-bottom: 60px;
}

.centered {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invite-friend-header {
    display: inline;
}

.addFriendContainer {
    padding-top: 15px;
}