
.MuiTextField-root, .MuiTextField-inputFocused {
    color: black;
    background-color: darkgray;
}


.MuiAutocomplete-listbox {
    color: whitesmoke;
    background-color: darkgray;
}
.MuiAutocomplete-focused {
    color: whitesmoke;
    background-color: goldenrod;
}

/* .MuiAutocomplete-groupLabel {
    color: whitesmoke;
    background-color: green;
}

TextField {
    color: whitesmoke;
    background-color: green;
} */
