.room-wrapper {
    padding-top: 3%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 3%;
}

#createRoomButton {
    background-color: goldenrod;
    color: white;
    font-size: 16px;
    padding: 8px 50px;
    border-radius: 20px;
    margin: 10px 0px;
    cursor: pointer;
}


.MuiAutocomplete-inputRoot {
    color: whitesmoke;
    background-color: #202020;
}
.MuiTextField-inputFocused {
    color: whitesmoke !important;
    background-color: #202020;
}

.MuiAutocomplete-listbox {
    color: whitesmoke !important;
    background-color:  #202020;
}

.MuiOutlinedInput-input {
    color: whitesmoke !important;
}